.container {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 1.25em;
}

.imagem {
  flex: 0 0 40%;
  margin-right: 1%;
  text-align: center;
}

.imagem img {
  width: 20em;
  height: auto;
}

.texto {
  flex: 0 0 60%;
  justify-content: center;
}
