.containerSobre {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.imagem1 {
  flex: 0 0 40%;
  text-align: center;
}

.imagem1 img {
  width: 20em;
  height: auto;
}

.texto1 {
  flex: 0 0 60%;
  justify-content: center;
  align-items: center;
}

.texto1 h1 {
  color: #ff9600;
}

p {
  color: #191a18;
} 
