.containerFooter {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  padding: 2em 1em;
  margin-top: 20vh;
}

.texto {
  flex: 0 0 40%;
}

.texto h1 {
  color: #ff9600;
}

.form {
  flex: 0 0 50%;
}

.form-box {
  background-color: #5a5a5a;
  border-radius: 0.5em;
  padding: 1em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5em;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  margin-bottom: 2em;
  box-sizing: border-box;
}

.form-group label {
  color: #ff9600;
}

.input-description {
  font-size: 0.8em;
  color: #666;
}

footer button {
  border: 1px solid #ff9600;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
}

footer button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

footer button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #ff9600;
  border-radius: 50%;
  display: block;
  transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

footer button:hover {
  color: #ffffff;
  border: 1px solid #ff9600;
}

footer button:hover:before {
  top: -35%;
  background-color: #ff9600;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

footer button:hover:after {
  top: -45%;
  background-color: #ff9600;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #5a5a5a;
  padding: 1em;
  border-radius: 0.5em;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin: 1em 0;
}

@media (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    height: 50%;
  }

  .texto,
  .form {
    flex: 0 0 100%;
    margin-bottom: 2em;
  }

  .form-group input,
  .form-group textarea {
    padding: 0.5em;
    font-size: 1em;
  }

  footer button {
    font-size: 0.9em;
    padding: 0.5em 1em;
  }

  .texto {
    text-align: center;
  }
}
