.ContainerAtuacao {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 1.5em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: transform 0.4s, background-color 0.4s, filter 0.4s;
  border: 2px solid #5a5a5a;
  font-size: 1.25em;
}

.card h2 {
  color: #ff9600;
}

.card p {
  color: #191a18;
}

.card:hover {
  transform: scale(1.1);
}

.cards:hover > .card:not(:hover) {
  transform: scale(1);
}

.head1 {
  text-align: center;
  font-size: 3em;
  color: #ff9600;
}
