.navbar-menu {
  list-style-type: none;
  gap: 2em;
}

.navbar-menu li a {
  position: relative;
  text-decoration: none;
  color: #f0f0f0f1  ;
}

.navbar-menu li a:hover, .navbar-brand-button:hover {
  color: #f0f0f0b2;
  transition: color 0.3s ease;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0.5em;
  justify-content: space-around;
}

.navbar-brand {
  display: flex;
}

.left-container, .right-container {
  display: flex;
  align-items: center;
}

.left-container{
    gap: 2em;
}

.left-container .navbar-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar-brand img {
  width: 2em;
  height: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-size: 1.5em;
  z-index: 1;
}


.navbar-brand-button {
  background: none;
  color: #f0f0f0f1;;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  align-items: center;
  display: flex;
}

.contact-button {
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid #f0f0f0f1;
  border-radius: 5px;
  color: #f0f0f0f1;
}

.contact-button:hover{
  color: #f0f0f0b2;
  border: 1px solid #f0f0f0b2;
}

.direita {
  margin-left: auto;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar-brand-button, .contact-button {
    font-size: 1em;
  }
}

