.navbar-menu {
  list-style-type: none;
  margin: 0.5em;
  display: flex;
  font-size: 1.25em;
  margin-right: 2em;
}

.navbar-menu li {
  margin-right: 1em;
}

.navbar-menu li a {
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar-menu li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: orange;
  opacity: 0.5;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 1em;
}

.navbar-brand {
  flex: 1;
  font-size: 1.5em;
  display: flex;
}

.navbar-brand img {
  width: 2em;
  height: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1em;
}

.contact-button {
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 5px;
}
